@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #f1f3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin: 80px 0; 
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
}

.section-title:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: -10px;
    left: 20%; 
    border-bottom: 2px solid #000000;
}

.container {
    flex: 1;
}

.btn-container {
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    margin: 15px;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #79566a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color ease .35s;
}
.btn:hover {
    background-color: #5a3d5c;
}

.unit-section {
    margin-bottom: 80px;
    display: none;
}

.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.from, .to{
    padding: 25px;
}

.from  label, .to label{
    font-size: 1.2rem;
    font-weight: 400;
}

#from-weight,  #to-weigth, #from-temperature, #to-temperature, #from-length, #to-length{
    width: 320px;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
}

.Conversion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Conversion-container input{
    width: 320px;
    height: 50px;
    font-size: 1rem;
    padding: 5px;
}
#input, #output{
    margin: 25px;
}

footer {
    height: 6vh;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 476px) {
    .section-title {
        margin: 40px 0; 
        font-size: 2rem;
    }
    .btn-container {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        margin: 10px;
    }
}
@media screen and (max-width: 398px) {
    .section-title {
        font-size: 1.6rem;
    }
    .from  label, .to label{
        font-size: 1rem;
        font-weight: 400;
    }
    #from-weight,  #to-weigth, #from-temperature, #to-temperature, #from-length, #to-length{
        width: 290px;
        height: 45px;
    }
    .Conversion-container input{
        width: 290px;
        height: 45px;
        font-size: 0.9rem;
        padding: 5px;
    }
    footer {
        font-size: 0.9rem;
    }
}